/**
 * Custom login styles.
 */
.login h1 a {
	background: url('https://cdn.norktech.com.br/img/logo-nork-tecnologia.png') center top no-repeat !important;
	background: url('https://cdn.norktech.com.br/img/logo-nork-tecnologia.png') center top no-repeat !important;
	background-size: 250px 74px !important;
	height: 74px !important;
	width: 250px !important;
}

/**
 * Custom admin styles.
 */
#footer-upgrade {
	visibility: hidden !important;
}

#footer-left {
	float: right !important;
}

#contextual-help-link-wrap,
#wp-version-message,
#normal-sortables #dashboard_right_now .inside .versions p {
	display: none !important;
}

.mce-window .mce-container-body.mce-abs-layout {
	overflow: hidden !important;
	overflow-y: auto !important;
}
